
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<section class="home">

    <div class="upper">
            <app-weather></app-weather> 
            <app-clock></app-clock> 
    </div>

        <div class="image">
            <img src="assets/img/user.png">
        </div>

        <div class="content">
            <h3> tekst 1</h3>
            <span>tekst 2</span>
            <p> tekst 3</p>
            
            <a routerLink="about" class="button"> O MNIE <i class="fas fa-user"></i> </a>

    </div>
    
</section>

</body>
</html>
