<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>O mnie</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/2124c884af.js" crossorigin="anonymous"></script>

</head>
<body>
  
<h1 class="heading"> <span>o</span> mnie</h1>

    <div class="box-container">

    <div class="first-box">

        <h1>Edukacja</h1>
        
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>tekst 1</span>
            <h3>tekst 2</h3>
            <p>tekst 3</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>tekst 1</span>
            <h3>tekst 2</h3>
            <p>tekst 3</p>
        </div>
    </div>

    <div class="second-box">

        <h1>Doświadczenie</h1>
        <div class="box">
            <i class="fa-solid fa-laptop"></i>
            <span>tekst 1</span>
            <h3>tekst 2</h3>
            <p>tekst 3</p>
        </div>

        <div class="box">
            <i class="fa-solid fa-laptop"></i>
            <span>tekst 1</span>
            <h3>tekst 2</h3>
            <p>tekst 3</p>
        </div>

        <div class="box">
            <i class="fa-solid fa-laptop"></i>
            <span>tekst 1</span>
            <h3>tekst 2</h3>
            <p>tekst 3 </p>
        </div>

    </div>
    
    <div class="third-box">
    
        <h1>Programowanie</h1>
        <div class="box">
            <i class="fa-solid fa-laptop-code"></i>
            <span>tekst 1</span>
            <h3>tekst 2</h3>
            <div class="description">
                    
                    <div class="language">HTML <p class="color-dot">●●●</p> ●● </div> 
                    <div class="language">CSS <p class="color-dot">●●</p> ●●● </div> 
                    <div class="language">JavaScript <p class="color-dot">●</p> ●●●● </div> 
                    <div class="language">PHP <p class="color-dot">●</p> ●●●● </div> 
                    <div class="language">Python <p class="color-dot">●</p> ●●●● </div> 
                    <div class="language">TypeScript <p class="color-dot">●</p> ●●●● </div> 
                    <div class="language">Angular <p class="color-dot">●</p> ●●●● </div> 
            </div>

        </div>

    </div>   
    
    </div>

</body>
</html>