<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/2124c884af.js" crossorigin="anonymous"></script>

</head>
<body>

<section class="portfolio">
        
    <h1 class="heading"> <span> moje </span> projekty </h1>

    <div class="box-container">
        
        <div class="box">
            <img src="assets/img/1.png">
            <div class="content">
                <h3> Ta strona </h3>
                <p> tekst 1 </p>
                <a routerLink="">Przejdź</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/2.png">
            <div class="content">
                <h3> Formularz </h3>
                <p> tekst 1 </p>
                <a href="/projects/contact.php"> Przejdź </a>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/3.png">
            <div class="content">
                <h3> Zadania z PHP</h3>
                <p> tekst 1 </p>
                <a href="/projects/task03.php"> Przejdź </a>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/4.png">
            <div class="content">
                <h3> Stoper</h3>
                <p> Stoper w jezyku JavaScript. </p>
                <a href="/projects/stopwatch"> Przejdź </a>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/5.png">
            <div class="content">
                <h3> Notatnik</h3>
                <p> Dodawanie notatek </p>
                <a href="/projects/notebook"> Przejdź </a>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/6.png">
            <div class="content">
                <h3> Wymiana walut</h3>
                <p> Aplikacja przeliczająca kursy walut. Korzystając z API. </p>
                <a href="/projects/currency"> Przejdź </a>
            </div>
        </div>
        <div class="box">
            <img src="assets/img/7.png">
            <div class="content">
                <h3> Formularz</h3>
                <p> Formularz w języku JavaScript </p>
                <a href="/projects/form"> Przejdź </a>
            </div>
        </div>

    </div>

</section>

</body>
</html>